/* ç”»é¢ã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚·ãƒ¼ãƒˆ */
body {
  font-family: "Avenir","sans-serif";
  margin: 0;
  min-width: 1076px;
  /* background-image : url(img/backcolor.jpeg ); */
}

/* float:left,rightã‚’ä½¿ç”¨ã™ã‚‹éš›ã¯ã‚»ãƒƒãƒˆã§ */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* header */
header {
  font-weight: bold;
  background: linear-gradient(#75BDD3,#55C4BB);
}

.block-header {
  margin: 0 0;
  padding: 10px 20px 10px;
  list-style: none;
  display: flex;
}

.block-header .color-white {
  /* color: #FFFFFF; */
  margin-right: 15px;
}

.block-header .color-white a {
  text-decoration: none;
  color: #FFFFFF;
}

hr {
  margin-top: 0 ;
  margin-bottom: 0;
}

.box-profile {
  width: 700px;
  margin: 150px auto 0 auto;
  color: #FFFFFF;
}

.box-profile .my-icon {
  width: 300px;
  float: left;
}

.box-profile img {
  border-radius: 50%;
  width: 100%;
  display: none;
}

.item-list {
  width: 400px;
  float: right;
  text-align: center;
}

.item-list .alpha-name {
  margin-bottom: 5px;
}

.item-list .my-name {
  font-weight: normal;
  margin: 5px;
}

.item-list .introduction {
  margin: 5px 0;
  font-size: 30px;
}

/* main */
.block-main {
  text-align: center;
  /* margin: 150px 0; */
  /* color: #FFFFFF; */
}

/* About */
.box-about {
  margin: 100px 0 50px;
  color: #4D4C4C;
}

.box-about h1 {
  color: #4D4C4C;
}

.box-about p {
  margin: 16px auto;
  max-width: 400px;
  width: 100%;
}

.box-about .sns {
  align-items: center;
  max-width: 247px;
  list-style: none;
  display: flex;
  width: 100%;
  margin: 30px auto;
  padding: 0;
  justify-content: center;
}

.box-about .sns li {
  margin-right: 40px;
}

.box-about .sns li:last-child {
  margin-right: 0;
}

.box-project {
  margin: 200px 0;
  /* -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%); */
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  background-color: #53BD9D;
  color: #FFFFFF;
  padding: 60px 0 10px 0;
  height: 1000px;
}

/* project */
.box-project img {

}

.project-list {
  list-style: none;
  width: 100%;
  max-width: 1076px;
  text-align: left;
  margin: 30px auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.project-list li {
  max-width: 380px;
  width: 100%;
  float: left;
  margin-right: 315px;
}

.project-list li:last-child {
  margin-right: 0;
  /* margin-top: 100px; */
}

.project-list p {
}

.project-list a {
  background-color: #53BD9D;
  border: 2px solid #ffffff;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.project-list img {
  width: 100%;
  display: block;
  /* blockにしなくてもデザインが崩れない */
}

.project-list h3 {
}

/* contact */
.box-contact {
  margin-bottom: 200px;
  height: 700px;
}

.box-contact h1 {
  color: #4D4C4C;
}

.contact-list {
  list-style: none;
  width: 100%;
  max-width: 1076px;
  text-align: center;
  margin: 100px auto 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.box-contact li {
  background-color: #F5F4F4;
  color: #4D4C4C;
  list-style: none;
  border-top: 8px solid #53BD9D;
  max-width: 380px;
  width: 100%;
  float: left;
  margin-right: 315px;
  height: 180px;
  padding-top: 30px;
}

.box-contact li:last-child {
  margin-right: 0;
  /* margin-top: 100px; */
}

/* footerÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã‚Â£Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€šÃ‚Â«ÃƒÆ’Ã‚Â£ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â£Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â£Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€¹Ã¢â‚¬Â ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â½Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã‚Â¦Ãƒâ€¹Ã¢â‚¬Â Ãƒâ€šÃ‚Â */
.block-footer p {
  clear: both;
  text-align: center;
  font-size: 15px;
  /* margin: 20px 0 20px; */
  background-color: #F5F4F4;
  height: 50px;
  margin: 0;
  padding-top: 25px;
}

/* ã‚¹ãƒžãƒ›ç”¨ã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚·ãƒ¼ãƒˆ */
@media screen and (max-width: 767px) {
  body {
      min-width: 100%;
  }

  /* headerã®ã‚¹ã‚¿ã‚¤ãƒ«ã‚·ãƒ¼ãƒˆ */
  header {
      height: 700px;
  }

  .block-header .color-white {
      margin-right: 20px;
  }

  .box-profile {
      max-width: 100%;
      margin: 50px auto 0 auto;
  }

  .box-profile img {
      padding-left: 20px;
  }

  .box-profile .my-icon {
      max-width: 100%;
      margin: 0 auto;
      float: none;
  }

  .item-list {
      max-width: 100%;
      margin: 0 auto;
      float: none;
  }

  .box-about p {
      max-width: 100%;
  }

  .box-about .sns {
      max-width: 100%;
  }

  .box-about p {
      max-width: 100%;
  }

  .box-project {
      height: 1500px;
      padding-top: 100px;
  }

  .project-list {
      max-width: 100%;
  }

  .project-list li {
      max-width: 100%;
      margin-top: 40px;
      float: none;
  }

  .project-list li:last-child {
    margin-top: 100px; 
  }

  .project-list img {
      width: 70%;
      display: block;
      margin: 0 auto;
  }

  .project-list h2 {
      text-align: center;
  }

  .project-list h3 {
      font-size: 16px;
      font-weight: normal;
      margin: 16px 20px;
  }

  .project-list p {
      /* margin-right: 20px; */
      /* margin-left: 20px; */
      margin: 15px 20px;
  }

  .project-list a {
  }

  .sns {
      text-align: center;
  }

  .contact-list {
      max-width: 100%;
  }

  .box-contact li {
      max-width: 100%;
      float: none;
      width: 350px;
      /* margin-right: 0; */
      margin: 0 auto;
  }

  .box-contact li:last-child {
    margin: 100px auto 0 auto;
  }
}
